<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--    1.服务提供方在zookeeper中的“别名”-->
    <dubbo:application name="dubbo_server"/>
    <!--    2.注册中心的地址-->
    <dubbo:registry address="zookeeper://192.168.247.128:2181"/>
    <!--    3.扫描类（将什么包下的类作为服务提供类）-->
    <dubbo:annotation package="service.Impl"/>
    <!-- 让监控 去注册中心 自动找服务 -->
    <dubbo:monitor protocol="registry"/>
    <!--设置超时时间为2秒，默认为1秒(避免线程阻塞一直等下去)retries=3表示会请求次数为3，即第一次没成功再发送一次，还没成功再发送一次以此类推，一共执行3+1次（n+1）-->
    <!--    全局设置<dubbo:provider timeout="2000" retries="3"/>-->
    <dubbo:provider timeout="2000"/>
</beans>

